<div class="row">
  <h4>ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧もできますが、<br>
  購入には会員登録が必要になります。<br>
  </h4>

  <h3>新着商品</h3>
  <% @items.new(4).each do |item| %>
   <%= link_to item_path(item.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
    <%= attachment_image_tag item, :image, :fill, 180, 125, format: 'jpeg',fallback: "no_image.jpg" %><br>
    <%= item.name %><br>
    ￥<%= item.price_without_tax.to_s(:delimited, delimiter: ',') %>
    <% end %>
  <% end %>
</div>

<h3><%= link_to "すべての商品を見る", items_path, class: "pull-right", style: "font-family: HiraMinPro-W6; color: #000000; margin: 30px 0;" %></h3>
